attrs==23.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
decorator==5.1.1
idna==3.4
jsonpath-ng==1.6.0
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
pbr==6.0.0
ply==3.11
referencing==0.31.0
requests==2.31.0
robotframework==6.1.1
robotframework-jsonlibrary==0.5
robotframework-requests==0.9.6
rpds-py==0.13.0
six==1.16.0
urllib3==2.1.0
